<td><%= link_to "Post", post, :class => "button", :method => "get" %></td>
<td><%= "#{post.name}" %></td>
<td><%= "#{post.price}" %></td>
<td><%= "#{post.updated_at}" %></td>
<% if @user.id == current_user.id %>
  <td>
    <%= link_to "Toggle Status", toggle_path(id: post), :class => "button", :method => :patch %>
  </td>
  <td>
    <%= link_to "Delete", delete_path(id: post), :class => "button", :method => :patch %>
  </td>
<% end %>