<td><%= link_to "#{user.name}", user, :method => "get" %></td>
<td class="right-align"><%= "#{@active_sale_posts.where(user_id: user.id).size}" %></td>
<td class="right-align"><%= "#{@closed_sale_posts.where(user_id: user.id).size}" %></td>
<td class="right-align"><%= "#{@active_buy_posts.where(user_id: user.id).size}" %></td>
<td class="right-align"><%= "#{@closed_buy_posts.where(user_id: user.id).size}" %></td>