<link href="css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<h3 class="center"><%= @user.name %></h3>
<br />
<div class="row">
  <div class="center">
    <p class="header"><%= @user.name %>'s Sale Posts</p>
    <table>
      <tr class="header">
        <td></td>
        <td>Name</td>
        <td>Asking price</td>
        <td>Last edited</td>
        <td>Status</td>
        <% if @user.id == current_user.id %>
          <td></td>
        <% end %>
      </tr>
      <% @sale_posts.each do |post| %>
        <tr>
          <%= render post %>
          <td><%= post.sold ? "Sold" : "Available" %></td>
          <% if @user.id == current_user.id %>
            <td>
              <div class="btn-group">
                <button type="button" class="btn dropdown-btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select an action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= button_to "Edit post", edit_sale_post_path(id: post.id), :class => "select-option", :method => :get %></li>
                  <% if post.sold %>
                    <li><%= button_to "Mark available", sale_posts_toggle_path(id: post.id), :class => "select-option", :method => :patch %></li>
                  <% else %>
                      <li><%= button_to "Mark sold", sale_posts_toggle_path(id: post.id), :class => "select-option", :method => :patch %></li>
                      <% end %>
                  <li><%= button_to "Delete post", sale_posts_delete_path(id: post.id), :class => "select-option", :method => :patch %></li>
                </ul>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="center">
    <p class="header"><%= @user.name %>'s Buy Posts</p>
    <table>
      <tr class="header">
        <td></td>
        <td>Name</td>
        <td>Bidding price</td>
        <td>Last edited</td>
        <td>Status</td>
        <% if @user.id == current_user.id %>
          <td></td>
        <% end %>
      </tr>
      <% @buy_posts.each do |post| %>
        <tr>
          <%= render post %>
          <td><%= post.filled ? "Filled" : "Unfilled" %></td>
          <% if @user.id == current_user.id %>
            <td>
              <div class="btn-group">
                <button type="button" class="btn dropdown-btn btn-default dropdown-toggle" data-toggle="dropdown">
                  Select an action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= button_to "Edit post", edit_buy_post_path(id: post.id), :class => "select-option", :method => :get %></li>
                  <% if post.filled %>
                      <li><%= button_to "Mark unfilled", buy_posts_toggle_path(id: post.id), :class => "select-option", :method => :patch %></li>
                  <% else %>
                      <li><%= button_to "Mark filled", buy_posts_toggle_path(id: post.id), :class => "select-option", :method => :patch %></li>
                  <% end %>
                  <li><%= button_to "Delete post", buy_posts_delete_path(id: post.id), :class => "select-option", :method => :patch %></li>
                </ul>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
<!--</div>-->
</div>
