<div>
<h5 class="center-align">
<!-- <div class="row">      -->
  <div class="col s6">
    <p class="header"><%= @user.name %>'s Sale Posts</p>
    <table>
      <tr class="header">
        <td></td>
        <td>Name</td>
        <td>Asking price</td>
        <td>Last edited</td>
        <td>Status</td>
        <% if @user.id == current_user.id %>
          <td></td>
        <% end %>
      </tr>
      <% @sale_posts.each do |post| %>
        <tr>
          <%= render post %>
          <td>
            <%= post.sold ? "Sold" : "Available" %>
            <% if @user.id == current_user.id %>
              <%= link_to "Toggle Status", sale_posts_toggle_path(id: post.id), :class => "button medium", :method => :patch %>
            <% end %>
          </td>
          <% if @user.id == current_user.id %>
            <td>
              <%= link_to "Delete", sale_posts_delete_path(id: post.id), :class => "button", :method => :patch %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col s6">
    <p class="header"><%= @user.name %>'s Buy Posts</p>
    <table>
      <tr class="header">
        <td></td>
        <td>Name</td>
        <td>Bidding price</td>
        <td>Last edited</td>
        <td>Status</td>
        <% if @user.id == current_user.id %>
          <td></td>
        <% end %>
      </tr>
      <% @buy_posts.each do |post| %>
        <tr>
          <%= render post %>
          <td>
            <%= post.filled ? "Filled" : "Unfilled" %>
            <% if @user.id == current_user.id %>
              <%= link_to "Toggle Status", buy_posts_toggle_path(id: post.id), :class => "button medium", :method => :patch %>
            <% end %>
          </td>
          <% if @user.id == current_user.id %>
            <td>
              <%= link_to "Delete", buy_posts_delete_path(id: post.id), :class => "button", :method => :patch %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

<!--</div>-->
</div>
