<td><%= link_to "Post", post, :class => "button", :method => get %></td>
<td><%= "#{post.name}" %></td>
<td><%= "#{post.photo}" %></td>
<td><%= "#{post.price}" %></td>
<td><%= "#{post.updated_at}" %></td>